.hidden {
  display: none!important;
}

body {
  padding-top: 50px;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}